body {
    margin: 30px 0 0 30px;
}

form {
    width: 30%;
    margin-bottom: 30px;
}

fieldset:not(:nth-of-type(2)) {
    margin-bottom: 30px;
}

legend {
    font-weight: bold;
}

#reset-button {
    float: right;
    background-color: rgba(229, 146, 168, 0.481);
}

#submit-button {
    background-color: rgba(146, 229, 200, 0.481);
}

p {
    margin-bottom: 10px;
}

.wrapper {
    width: 30%;
    height: 70px;
    position: relative;
}

#result {
    /*width: 100%;*/
    height: 70px;
    border: 2px solid rgb(192, 192, 192);
    box-sizing: border-box;
    padding: 10px;
}

.copy-icon {
    width: 22px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.copy-icon:hover,
#reset-button:hover,
#submit-button:hover {
    cursor: pointer;
}

#message {
    text-align: right;
    color: rgb(25, 149, 112);
}

/* ----------- Media queries ----------- */

@media screen and (max-width: 1400px) {
    form {
        width: 40%;
    }
    .wrapper {
        width: 40%;
    }
    #request {
        width: 95%;
    } 
}

@media screen and (max-width: 1050px) {
    form {
        width: 50%;
    }
    .wrapper {
        width: 50%;
    }
    #request {
        width: 98%;
    } 
}

@media screen and (max-width: 850px) {
    form {
        width: 60%;
    }
    .wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 710px) {
    form {
        width: 70%;
    }
    .wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 80%;
    }
    .wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {
    form {
        width: 90%;
    }
    .wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 330px) {
    body {
        margin: 20px 0 0 20px;
    }
    form {
            width: 95%;
    }
    .wrapper {
        width: 95%;
    }

}